[submodule "vulkan-engine/ext/glm"]
	path = vulkan-engine/ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vulkan-Engine/ext/glfw/glfw"]
	path = Vulkan-Engine/ext/glfw/glfw
	url = https://github.com/glfw/glfw.git
